<div>
    <div class="well"><strong>选择图层:</strong></div>
    <% for(var i =0 ; i < task_data.itemData.length ; i ++){
    var o = task_data.itemData[i];
    %>
    <div node-type="layers"  class="checkbox">
        <label>
            <input node-type="layer" node-data="<%=o.index%>" type="checkbox"><%=o.title%>
        </label>
    </div>
    <% } %>
</div>

<div class="well"><strong>选择几何图形:</strong></div>
<div class="esricd-line">
    <button node-type="geomertyRule" type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon glyphicon-pencil"></span>
        Point
    </button>

    <button node-type="geomertyRule" type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon glyphicon-pencil"></span>
        Rectangle
    </button>

    <button node-type="geomertyRule" type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon glyphicon-pencil"></span>
        清空
    </button>
</div>

<div class="esricd-line">
    <button node-type="identify" type="button" class="btn btn-primary center-block">查询</button>
</div>
<div node-type="identifyResult" class="list-group"></div>